@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;400&family=Play:wght@400;700&display=swap");
html {
  font-size: 16px;
}
@media screen and (max-width: 480px) {
  html {
    font-size: 3.33333vmin;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Play", Arial, Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #292929;
  padding: 1.25rem;
  padding: env(safe-area-inset-top);
  padding: env(safe-area-inset-left);
  padding: env(safe-area-inset-right);
  padding: env(safe-area-inset-bottom);
}

.maincontent {
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  will-change: transform;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background-color: #F78FA7;
  height: 100%;
  min-height: 40.75rem;
  position: relative;
  color: #F5F5F5;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: right bottom 88%;
  }
}
.hero::before {
  position: absolute;
  bottom: -1.5625rem;
  right: 10%;
}

.hero__title-section {
  width: 48%;
  margin-bottom: 21.875rem;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero__title-section::before {
    content: "";
    width: 20.1875rem;
    height: 20.1875rem;
    background: url(../img/nails.jpg) center center/contain no-repeat;
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.5rem 0;
  background: url(../img/nails.jpg) right center/45% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__main-title {
  font-size: 3.75rem;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 0.9375rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

.hero__title-desc {
  font-size: 1.3125rem;
  margin-bottom: 1.75rem;
  padding-right: 10%;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 25%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0 16%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  margin-right: 1.25rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.phone-number {
  font-size: 1.125rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.phone-number__icon {
  margin-right: 0.625rem;
  width: 0.75rem;
  height: 0.75rem;
}

.phone-number__icon-elem {
  width: 0.8125rem;
  height: 0.8125rem;
  margin-right: 0.375rem;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}
.menu__link:hover {
  text-decoration: underline;
}

.btn {
  font-size: 1rem;
  font-weight: bold;
  padding: 1.125rem 2.5625rem;
  text-transform: uppercase;
  border-radius: 6.25rem;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
}
.btn--theme--white {
  background: #E75480;
  color: #F5F5F5;
}
.btn--theme--white:hover {
  color: #E75480;
  background-color: #F5F5F5;
}
.btn--theme--red {
  background: #E01F3D;
  color: #F5F5F5;
}
.btn--theme--red:hover {
  color: #E01F3D;
  background-color: #F5F5F5;
}
.btn--theme--transparent {
  background: transparent;
  color: #F5F5F5;
  text-transform: none;
}
.btn--theme--transparent:hover {
  color: #E01F3D;
}

.section {
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section--font-color--white {
  color: #F5F5F5;
}
.section--font-color--white .section__title {
  color: inherit;
}

.section__title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 3.875rem;
  text-align: center;
  text-transform: uppercase;
  color: #F78FA7;
  line-height: 1.1;
}

.reviews__display {
  background: #F78FA7;
  padding: 3.125rem 2.8125rem 2.125rem;
  margin-bottom: 1.25rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 1.25rem;
  color: #fff;
}
.reviews__display::before {
  content: "";
  display: block;
  width: 5.625rem;
  height: 5.625rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -4.0625rem;
}

.reviews {
  position: relative;
  min-height: 17.5rem;
}

.reviews__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0;
}
.reviews__item.active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 15.875rem;
  height: 16.25rem;
  margin-right: 1.25rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    margin-left: 0.4375rem;
    width: 8.125rem;
    height: 8.125rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__avatar {
    margin-left: 0.375rem;
    width: 8.125rem;
    height: 8.125rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2.5rem;
  margin-bottom: 0.5625rem;
}

.reviews__title {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 1.375rem;
  margin-left: 2.5rem;
}

.reviews__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 5rem;
  padding-top: 0.5rem;
  margin-bottom: 2.25rem;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    padding-right: 2.5rem;
    padding-top: 0.5rem;
    margin-bottom: 2.25rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__text {
    padding-right: 2.8125rem;
    padding-top: 0.5rem;
    margin-bottom: 2.25rem;
  }
}

.reviews__author {
  font-size: 1.125rem;
  font-weight: bold;
  color: #F5F5F5;
  margin-left: 2.5rem;
}

.interactive-avatar {
  width: 5rem;
  height: 5rem;
  position: relative;
}
.interactive-avatar--active {
  border-color: #E01F3D;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  border: 0.375rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order-section {
  background: #181818;
}

.fixed-menu {
  position: fixed;
  top: 45%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 0.3125rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #F5F5F5;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:hover {
  border-color: #E75480;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #E75480;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu {
  margin: 0 0.625rem;
  padding-top: 0.3125rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu--vertical {
  font-size: 2.25rem;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .menu--vertical {
    display: block;
  }
}
.menu--vertical .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu--vertical .menu__item {
  margin-right: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  margin-right: 1.6875rem;
  margin-bottom: 0.625rem;
  margin-top: 0.625rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}
.menu__link:hover {
  text-decoration: underline;
}

.hamburger {
  width: 24px;
  height: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
@media screen and (max-width: 480px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #E75480;
  height: 4px;
  border-radius: 10px;
}

.map-section {
  position: relative;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.4375rem 0;
  background: #F78FA7;
  color: #fff;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.phone-number {
  font-size: 1.125rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}
.phone-number--theme--black {
  color: #292929;
}
.phone-number--theme--black .phone-number__icon {
  fill: #292929;
}

.phone-number__icon {
  margin-right: 0.4375rem;
  width: 0.75rem;
  height: 0.75rem;
  fill: #292929;
}

.phone-number__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phone-number__icon-elem {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.375rem;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__item {
  margin-right: 1.25rem;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
}
.socials__link:hover .socials__icon {
  opacity: 1;
}

.socials__icon {
  width: 1.875rem;
  height: 1.875rem;
  fill: #000;
  opacity: 0.3;
}

.contacts {
  font-style: normal;
  font-size: 1.25rem;
  color: #010101;
}
@media screen and (max-width: 480px) {
  .contacts {
    margin-bottom: 0.625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts__phone {
  color: #F5F5F5;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__switcher-item {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.reviews__switcher-item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0.375rem solid transparent;
  border-radius: 50%;
}
.reviews__switcher-item:hover:after {
  border-color: #F78FA7;
}
.reviews__switcher-item.active:after {
  border-color: #F78FA7;
}

.reviews__switcher-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
  padding: 0.3125rem;
}

.reviews-switcher__pic {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #E75480;
  z-index: 1000;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}
.fullscreen-menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fullscreen-menu__close {
  display: block;
  position: absolute;
  top: 1.5625rem;
  right: 1.5625rem;
  background: url(../img/Vector6.png) center center/contain no-repeat;
}

.fullscreen-menu__close-icon {
  width: 1.125rem;
  height: 1.125rem;
  fill: #F5F5F5;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .team {
    padding: 0 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .team {
    margin-left: -4.375rem;
  }
}
.team::before {
  position: absolute;
  bottom: 43.125rem;
  right: -10%;
}

.team--version--mobile {
  display: none;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 0 !important;
}
@media screen and (max-width: 768px) {
  .team--version--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.team--version--mobile .team__item {
  margin-bottom: 0.625rem;
}

@media screen and (max-width: 768px) {
  .team--version--desktop {
    display: none;
  }
}
.team--version--desktop .team__content {
  position: absolute;
  top: 100%;
}

.team__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin-right: 1.25rem;
  max-width: 16.25rem;
  position: relative;
}
.team__item.active .team__title:after {
  content: "";
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
@media screen and (max-width: 768px) {
  .team__item {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    margin-bottom: 2.1875rem;
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .team__item {
    width: auto;
  }
}
.team__item:last-child {
  margin-right: 0;
}

.team__member {
  height: 18rem;
  margin-bottom: 1.25rem;
}

.team__member-pic {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__title {
  color: #323232;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.3125rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}
.team__title:after {
  content: "";
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 0.25rem;
  border-left-width: 0.25rem;
  border-top: 0.375rem solid #F78FA7;
  border-bottom: 0;
  display: block;
  margin-left: 0.3125rem;
}

.team__content-block {
  padding-bottom: 0.3125rem;
}

.team__content {
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  height: 0;
}

.team__content-text {
  font-weight: 300;
}

.team__occ {
  color: #F78FA7;
}

.modal {
  display: none;
}
.modal.error-modal .modal__content {
  color: red;
}
.modal.fancybox-content {
  padding: 0 !important;
}
.modal .fancybox-button {
  display: none;
}

.modal__container {
  background: #fff;
  padding: 2.1875rem 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-error {
  border-color: #E01F3D;
}

.modal__content {
  margin-bottom: 0.9375rem;
  color: #000;
}
/*# sourceMappingURL=main.css.map */