.player {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.player.hidden {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.player__splash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("./images/decor/splashscreen.jpg") center center/cover no-repeat;
  cursor: pointer;
}
.player__splash:before {
  content: url("./images/icons/play-big.png");
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.player__wrapper {
  height: 100%;
}
.player__wrapper.active .player__splash {
  display: none;
}

.player__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: rem(35px);
  background: #3e3e3e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 3%;
}

.player__start {
  width: 0;
  height: 0;
  border: rem(11px) solid transparent;
  border-left-color: #626262;
  padding: 0;
  border-right-width: 0;
  background: transparent;
  outline: none;
  position: relative;
}
.player__start.paused {
  width: rem(14px);
  height: rem(22px);
  border: none;
}
.player__start.paused:after, .player__start.paused:before {
  content: "";
  display: block;
  position: absolute;
  width: rem(5px);
  top: 0;
  bottom: 0;
  background: #626262;
}
.player__start.paused:after {
  right: 0;
}
.player__start.paused:before {
  left: 0;
}

.player__playback {
  height: rem(16px);
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 rem(15px);
}
.player__playback:before {
  content: "";
  height: rem(4px);
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  background: #626262;
  display: block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.player__playback-button {
  background: #626262;
  border-radius: rem(50px);
  border: none;
  width: rem(12px);
  height: rem(12px);
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 0;
}

.player__duration {
  color: #626262;
  font-weight: bold;
}

.player__elem {
  width: 100%;
  height: 100%;
}